@import "./components/bootstrap/css/bootstrap.min.css";

$errorMessageColor: #c9453c;
$loaderBgColor: rgba(255, 255, 255, 0.85);
$warningBorder: #f49425;
$dangerBorder: #d9534f;
$lightBlue: #2773b7;
$superLightBlue: #499bfc;
$darkGrey: #686868;
$lightGrey: #ececec;
$white: #ffffff;

html, body, #SiteContent{
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}

#SiteContent{
  background: $lightGrey;
  padding: 0;
}

.no-padding-margin{
  padding: 0 !important;
  margin: 0 !important;
}

#editTaskForm{
  background: white;
  padding: 20px 30px;
}

.TasksTable{
  border-collapse:separate;
  border-spacing:0 5px;
  th, td {
    border: none !important;
    color: $darkGrey;
    text-align: left;
  }
  th {
    vertical-align: middle !important;
    padding: 16px 20px !important;
    .form-control {
      border-radius: 20px;
      color: $darkGrey;
      border-color: $darkGrey;
      font-weight: 500;
    }
    &.buttons-th{
      padding: 20px 5px !important;
      .btn-group{
        width: 100%;
      }
    }
    .dropdown-toggle {
      .caret {
        width: 10px;
        height: 10px;
        border: none;
        font-family: 'Glyphicons Halflings';
        margin-top: -10px;
      }
    }

    .dropdown-toggle {
      .caret:before {
        content: "\e259";
      }
    }
    .btn-group{
      .open {
        .btn-primary {
          border-color: $darkGrey;
          background: $darkGrey;
        }
      }
    }
  }

  td {
    vertical-align: middle !important;
    padding: 16px 20px !important;
    &.job-td{
      text-align: center;
      span {
        color: $white;
        text-transform: uppercase;
        background-color: $lightBlue;
        padding: 3px 7px;
        border-radius: 7px
      }
    }
    &.buttons-td{
      padding: 0 10px !important;
      .btn-group{
        width: 100%;
      }
    }
    .dropdown-toggle {
      .caret {
        width: 10px;
        height: 10px;
        border: none;
        font-family: 'Glyphicons Halflings';
        margin-top: -10px;
      }
    }

    .dropdown-toggle {
      .caret:before {
        content: "\e259";
      }
    }

    .btn-group{
      .open {
        .btn-warning{
          border-color: $darkGrey;
          background: $darkGrey;
        }
      }
    }
  }
  tr{
    background: $white;
    &.item-tr {
      .first-td {
        border-left: 5px solid $lightBlue !important;
      }
    }
  }
  .dropdown-menu{
    padding: 0;
  }
  .dropdown-menu >li >a{
    &:focus, &:hover{
      color: $white;
      text-decoration: none;
      background-color: $superLightBlue;
    }
  }

  .title-th{
    padding: 10px 20px !important;
    color: $superLightBlue;
    font-weight: bold;
    font-size: 16px;
  }
}

.page-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background: $loaderBgColor;
  background-image: url('images/loader.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
}

.fadeOut-enter {
  opacity: 0.01;
}

input[type=text],
input[type=email],
input[type=password] {
  margin-bottom: 10px;
  color: $darkGrey;
  &.error_field{
    border-color: $errorMessageColor;
  }
}

label{
  color: $darkGrey;
}

#editGroupForm{
  margin-top: 20px;
}

.form-buttons{
  margin: 30px 0 20px;
}

.text-field-error{
  display: inline-block;
  margin-bottom: 20px;
  color: $errorMessageColor;
}

.list-group-item{
  padding-bottom: 15px;
}

.btn-sm{
  margin-right: 6px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    border-radius: 20px;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: $darkGrey;
    border-color: $darkGrey;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: $warningBorder;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-primary.btn-outline:hover{
  background: $darkGrey;
}

.select-col {
  padding: 0;
}
